::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
::-webkit-scrollbar-thumb {
  background-color: #00aff0;
}
::-webkit-scrollbar-track {
  background-color: #bee1eb;
}
* {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}
code,
pre {
  font-family: Menlo, Meslo LG M DZ, Meslo LG M, Consolas, Monaco, Andale Mono, Ubuntu Mono, monospace;
  line-height: normal;
}

.vue-treeselect {
  line-height: normal;
}

.mb-15{
  margin-bottom: 15px;
}

.pd-15{
  padding: 15px;
}

.pull-left{
  float: left;
}
.pull-right{
  float: right;
}
.text-left{
  text-align: left;
}
.text-right{
  text-align: right;
}

.actions-bar{
  >*+*{
    margin-left: 10px;
  }
}
